<?xml version="1.0" encoding="UTF-8"?>
<component-configuration
  xmlns="http://tis.co.jp/nablarch/component-configuration"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://tis.co.jp/nablarch/component-configuration  ./component-configuration.xsd">

  <!-- データベース接続設定 -->
  <config-file file="sqle-db.config" />

  <import file="sqle-db.xml" />
  <import file="date.xml" />

  <!-- データベースコネクションを実現するハンドラ -->
  <component name="dbConnectionManagementHandler"
      class="nablarch.common.handler.DbConnectionManagementHandler">
    <property name="connectionFactory" ref="connectionFactory" />
  </component>
  
  <component
    name="transactionManagementHandler"
    class = "nablarch.common.handler.TransactionManagementHandler">
  </component>
 
  <!-- ハンドラキュー構成 -->
  <list name="handlerQueue">
    <component class="nablarch.tool.handler.ErrorHandler" />
    <component-ref name="dbConnectionManagementHandler" />
    <component-ref name="transactionManagementHandler"   />  
    <component class="nablarch.tool.handler.SqlExecutor" />
  </list>

  <component
    name="initializer"
    class="nablarch.core.repository.initialization.BasicApplicationInitializer">
    <property name="initializeList">
      <list>
        <component-ref name="businessDateProvider" />
      </list>
    </property>
  </component>

  <component name="httpServerFactory" class="nablarch.fw.web.httpserver.HttpServerFactoryJetty9"/>

  <component name="webFrontController"
             class="nablarch.fw.web.servlet.WebFrontController">
    <property name="handlerQueue">
      <list>
        <component class="nablarch.fw.web.handler.HttpCharacterEncodingHandler"/>
        <component class="nablarch.fw.handler.GlobalErrorHandler"/>
        <component class="nablarch.fw.web.handler.HttpResponseHandler"/>
        <component class="nablarch.fw.web.handler.ForwardingHandler"/>

        <component class="nablarch.fw.web.handler.HttpErrorHandler" >
          <property name="defaultPages">
            <map>
              <entry key="4.." value="servlet:///error.html" />
              <entry key="5.." value="servlet:///error.html" />
            </map>
          </property>
        </component>
        <component-ref name="dbConnectionManagementHandler" />
        <component-ref name="transactionManagementHandler"   />
        <component class="nablarch.tool.handler.SqlExecutor"/>
      </list>
    </property>
  </component>

</component-configuration>
